html {
  scroll-behavior: smooth;
  font-family: "Bitter", serif;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 20px;
  color: white;
  font-weight: 400;
  line-height: 3;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-item a:hover {
  color: pink;
}

.my-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid pink;
  margin-bottom: 20px;
}

.myphoto {
  object-fit: cover;
  height: 17%;
  width: 17%;
  margin-bottom: 5px;
  border: 1px solid;
  border-color: pink;
  border-radius: 50%; 
  margin-bottom: 20px;
}

@keyframes color-change {
  0% {
  color: black;
  }
  
  50% {
  color: pink;
  }

  100% {
  color: black;
  }
}

.myname {
  animation: color-change 3s infinite;
  font-size: 50px;
}

.main-container {
  max-width: 1440px;
  min-height: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 20px;
  padding-right: 20px;
}

.section {
  list-style: none;
  width: 50%;
  font-size: 20px;
  padding-bottom: 30px;
}

.section-title {
  text-decoration: underline black;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.contact-link a {
  color: rgb(242, 156, 170);
  text-decoration: none;
}

.project-link a {
  color: rgb(242, 156, 170);
  text-decoration: none;
}

.contact-link a:hover {
  color: rgb(104, 187, 115);
}

.project-link a:hover {
  color: rgb(104, 187, 115);
}

.my-code {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 13px; 
}

.footer-container {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 20px;
  font-weight: 400;
  line-height: 3;
  margin-top: auto;
}

.footer-container a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.rsschool-logo {
  margin-top: 15px;
  height: 45%;
}

.footer-container a:hover {
  color: pink;
}
