html {
    scroll-behavior: smooth;
  }
  
.nav-list {
    background-color: black;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    font-family: "Bitter", serif;
    color:white;
    font-weight: 400;
    font-style: normal;
    list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
}

header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    border: 10px solid;
    border-color: black;
    border-radius: 50%;
}

.section-item a {
  color: #8864f5;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #00c378;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

@keyframes color-change {
  0% {
  color: black;
  }
  
  50% {
  color: gray;
  }

  100% {
  color: black;
  }
}

.myname {
  animation: color-change 3s infinite;
}

.section {
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

body {
  font-family: "Bitter", serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
  color: black;
  font-style: normal;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #ff0000;
  transition: color 0.5s;
}

.link:hover {
  color: #ff21f8;
}

.footer-container {
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  font-family: "Bitter", serif;
  color:black;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}